
@{
    ViewBag.Title = "Покупка";
}

    <div>
        <h2>Покупка</h2>
        <form method="post">
            <input type="hidden" value="@ViewBag.Id" name="ClothesId" />
            <table>
                <tr>
                    <td>Введите своё имя</td>
                    <td><input type="text" name="Person" placeholder="Иван" /></td>
                </tr>
                <tr>
                    <td>Введите адрес</td>
                    <td><input type="text" name="Address" placeholder="Мира 100" /></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Отправить" /></td>
                </tr>
            </table>
        </form>
    </div>