@{
    ViewBag.Title = "Тут отрабатывает инициализатор";
}

    <html>
    
        <head>
            <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
        </head>
        
        <body>
            <h3>"Super clothes store"</h3>
            <table border="3">
                <tr>
                    <th>Название бренда</th>
                    <th>Вид изделия</th>
                    <th>Размер</th>
                    <th>Цена</th>
                    <th></th>
                </tr>
                @foreach (var c in ViewBag.Clothes)
                {
                    <tr>
                        <td>@c.BrandName</td>
                        <td>@c.KindOf</td>
                        <td>@c.Size</td>
                        <td>@c.Price</td>
                        <td><a href="/Home/Buy/@c.ClothesId">Купить</a><a href="/Home/Delete/@c.ClothesId">Удалить</a></td> 
                    </tr>
                }
            </table>
        </body>
    
    </html>

